<div class="container mt-5" >
    <div class="card bg-dark" >
        <div class="card-header bg-light" style="text-align: center; ">
            Joke Teller
        </div>
        <div class="card-body bg-light" >
            <form action="">
                <div class="row">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Select Category/Categories</label>
                    </div>

                    <div class="col-md-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Any
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Custom
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Select Language</label>
                    </div>

                    <div class="col-md-9">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Select Flags to Blacklist</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">nsfw</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">religious</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">political</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">racist</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">sexist</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">explicit</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Select atleat one joke type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Single</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Two part</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Search for joke that contain search string</label>
                    </div>
                    <div class="col-md-9">
                        <input type="search" class="form-control" placeholder="City">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Search for joke in ID range</label>
                    </div>
                    <div class="col-md-9">
                       <label for="" class="me-3">From : </label>
                       <input type="number" >
                       <label class="mx-3" for="">To :  </label>
                       <input type="number">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="exampleFormControlInput1">Amount of Joke</label>
                    </div>
                    <div class="col-md-9">
                      
                       <input type="number" >
                      
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-5 bg-dark">
        <div class="card-header bg-light" style="text-align: center;">
            Result
        </div>
      <div class="card-body">
       
      </div>
    
</div>